:root {
    --theme-color: #3a9;
    --light-color: #eee;
    --dark-color: #111;
    --light-color-bitalpha: #eee6;
    --dark-color-bitalpha: #111c;
    --light-color-semialpha: #eee2;
    --dark-color-semialpha: #1118;

    --light-txt-shadow: 1px 1px 4px #fff8;
    --dark-txt-shadow: 1px 2px 5px #000c;
    --dark-txt-shadow-alpha: 0px 1px 3px #0005;
    --dark-box-shadow: 0 2px 10px -4px #000a;
    --light-box-shadow: 0 2px 20px -5px #0007;
    --white-box-shadow: 0 2px 20px -5px #fff7;
    
    --space: 1em;
    
    --light-btn: #eeee;
    --dark-btn: #111d;
    
    --rotateX-deg: 24deg;

    --duration: .5s;
    --trans-a: all var(--duration);
    --trans-a-delayed: all var(--duration) calc(.5 * var(--duration));
    
    --fade-in: fade-in calc(2 * var(--duration));
    --rotateX-in: rotateX-in calc(2 * var(--duration));
    
    --cover-img: url("https://images.unsplash.com/photo-1462965326201-d02e4f455804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=250&q=30");
    --background-img: url("https://images.unsplash.com/photo-1571887379176-bec8d6a71fd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=30");
}
::selection {
    color: var(--theme-color);
    text-shadow: none !important;
}
.dark ::selection {background: var(--dark-color);}
.light ::selection {background: var(--light-color);}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(.9) translateY(1rem);
    } 100% {opacity: 1;}
}
@keyframes rotateX-in {
    0% {
        opacity: .5;
        transform: scale(.9) rotateX(90deg);
    } 100% {opacity: 1;}
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.flex {display: flex;flex-wrap: wrap;}
.flex.column {flex-direction: column;}
.flex.center {align-items: center;}
.flex.justify-center {justify-content: center;}
.flex.space-evenly {justify-content: space-evenly;}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden !important;
    font-family: 'TruenoRegular', sans-serif;
    background: var(--theme-color);
}
body.dark {color: var(--light-color);}
body.light {color: var(--dark-dark);}

.btn-glass {
    opacity: .7;
    transition: var(--trans-a) ease-in-out !important;
    cursor: pointer;
}
.btn-glass:focus,
.btn-glass:hover {
    transition: all .4s !important;
    opacity: 1 !important;
}
.btn-glass:active {
    transform: rotateX(calc(1.5 * var(--rotateX-deg)));
}
.dark .btn-glass {
    color: var(--light-color);
    background: var(--dark-color-bitalpha);
    box-shadow: var(--dark-box-shadow);
}
.light .btn-glass {
    color: var(--dark-color);
    background: var(--light-color-bitalpha);
    box-shadow: var(--light-box-shadow);
}
a {
    color: var(--theme-color);
    filter: brightness(1.5);
}
.big {
    font-size: 2em; 
    font-weight: 100;
    line-height: .5em;
    display: inline;
}

/* HEADER */
header {
    width: 100vw;
    background: var(--background-img) center center no-repeat;
    background-size: cover;
    user-select: none;
    color: #fff;
    text-shadow: 1px 2px 5px #000f !important;
    font-weight: bold;
    text-align: center;
    z-index: 0;
    position: relative;
    top: -1px;
}
header::after {
    content: '';
    width: 100%;
    height: 5em;
    background: linear-gradient(transparent, var(--theme-color));
}
header * {
    z-index: 1;
}
header.tilt-gradient {
    padding-bottom: 3em;
}
header.tilt-gradient::after {
    width: calc(100% + 3em);
    height: 50%;
    background: linear-gradient(transparent, var(--theme-color));
    transform: rotate(-5deg);
    border-radius: 0 0 80% 0;
    box-shadow: 0 3em 3em #0005;
    top: calc(50% + 1.5em);
    position: absolute;
    transition: var(--trans-a);
    pointer-events: none;
    border-bottom: 4px solid #fff3;
}
.dark header.tilt-gradient::after {filter: brightness(.9) hue-rotate(8deg);}
.light header.tilt-gradient::after {filter: brightness(1.08) hue-rotate(-8deg);}
/* list albums */
.album-element {
    transition: transform var(--duration); 
    /* transform: rotateX(0deg) scaleZ(1); */
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    perspective: 350px;
    transform-style: preserve-3d;
    margin: 1em;
    animation: var(--fade-in);
}
.main-content.rotateX .album-element {animation: var(--rotateX-in);}
.main-content.alternate .album-element:nth-child(odd) .album-cover {transform: rotateX(calc(-.5 *var(--rotateX-deg)));}
.main-content.alternate .album-element:nth-child(even) .album-cover {transform: rotateX(calc(.5 *var(--rotateX-deg)));}
.album-element .album-cover {
    transform: rotateX(var(--rotateX-deg));
}
.album-element .album-cover:hover {
    transform: rotateX(0deg) !important;
}
.album-cover {
    width: 200px;
    height: 200px;
    border-radius: 1em;
    padding: .7em;
    margin-bottom: 1em;
    display: block;
}
.dark header .album-cover {
    background: var(--dark-color-bitalpha);
    box-shadow: 0 3px 50px 5px #000d;
}
.light header .album-cover {
    background: var(--light-color-bitalpha);
    box-shadow: 0 3px 50px -5px #0009;
}
.album-cover + .title {user-select: none;}
.album-cover > .img {
    /* content: ''; */
    display: block;
    position: relative;
    top: 0;
    border-radius: .4em;
    width: 100%;
    height: 100%;
    background: no-repeat var(--cover-img);
    background-size: cover;
    transition: box-shadow var(--duration);
}
.light .album-cover > .img {box-shadow: 0 1px 1em 2px var(--light-color);}
.dark .album-cover > .img {box-shadow: 0 1px 1em 2px var(--dark-color);}
header h1 {
    margin: 0;
    padding: 2em 0 1em 0;
    flex: 1;
    width: 100%;
}
.light header h1 {
    background: linear-gradient(var(--light-color-bitalpha), transparent);
}
.dark header h1 {
    background: linear-gradient(var(--dark-color-bitalpha), transparent);
}
header a.author {
    color: inherit;
    text-decoration: none;
}
#bass_logo,
#theme_toggle {
    position: fixed;
    top: .6em;
    margin: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
}
#bass_logo {
    left: .4em;
    background-image: url('../img/logo_bass.png');
    width: 6em;
    min-height: 4em;
    filter: invert(1);
    opacity: .7;
    transition: opacity .4s;
}
#bass_logo:hover {opacity: 1;}
.light #bass_logo {filter: invert(0)}
#theme_toggle {
    background-image: url('sunmoon.png');
    width: 3.2em;
    height: 3.2em;
    right: .4em;
    border-radius: var(--space);
    filter: invert(0);
    background-color: var(--dark-btn);
    box-shadow: var(--dark-box-shadow);
}
.light #theme_toggle {
    filter: invert(1);
    box-shadow: var(--white-box-shadow);
}
header .year-label {
    font-size: .7rem;
    box-shadow: var(--dark-box-shadow);
    text-shadow: var(--dark-txt-shadow-alpha) !important;
    border-radius: .5em;
    padding: .4em;
    text-align: center;
    color: var(--theme-color);
}
.dark header .year-label {
    background: var(--dark-color-semialpha);
}
.light header .year-label {
    text-shadow: none !important;
    color: var(--dark-color-bitalpha);
    background: var(--light-color-bitalpha);
}

/* MAIN CONTENT */
.main-content {
    width: 100%;
    padding: 4em 1em 8em 1em;
}
.dark .main-content {
    text-shadow: var(--dark-txt-shadow) !important;
    background: linear-gradient(var(--theme-color), var(--dark-color));
}
.light .main-content {
    text-shadow: var(--light-txt-shadow) !important;
    background: linear-gradient(var(--theme-color), var(--light-color));
}
.main-content>#tracklist,
.main-content>#details {
    flex: 1;
    min-width: 350px;
    z-index: 1;
}
.main-content>#details {
    padding: 2em 3em .5em 3em;
    transition: var(--trans-a) !important;
}
.light .main-content>#details a {
    filter: brightness(.5);
}

/* TRACKLIST */
#tracklist {
    margin: 1em;
    padding: 1em;
    /* list-style: decimal-leading-zero; */
    list-style: decimal;
}
.track {
    padding: .7rem;
    margin: .4rem;
    border-radius: var(--space);
    cursor: pointer;
    transition: var(--trans-a) !important;
    user-select: none;
    opacity: .6;
    align-items: center;
    text-transform: capitalize;
}
.track::marker {font-size: .8rem;}
.track:hover, 
.track:focus, 
.track:active, 
.track.active {
    opacity: .9;
} 
.track > .play {
    display: flex;
}
.track >.play::before {
    /* content: '\25ba'; */
    content: '';
    background: no-repeat url('play.png') center center;
    background-size: contain;
    width: .6em;
    height: 1.3em;
    padding: 0;
    opacity: 0;
    transition: all var(--duration);
    margin-right: 0;
    display: inline-block;
    transform-origin: 50% 50%;
}
.dark .track >.play::before {filter: invert(1);}
.light .track >.play::before {filter: invert(0);}

.track:hover > .play::before,
.track:focus > .play::before,
.track:active > .play::before,
.track.active > .play::before {
    margin-right: .6em;
    opacity: 1;
    width: 2em;
}

/* PLAYER */
#player {
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-height: 3em;
    padding: .5rem 1em;
    margin: 0;
    flex-wrap: wrap-reverse !important;
    transition: var(--trans-a) !important;
    z-index: 3;
}
.dark #player {
    background: linear-gradient(transparent, var(--dark-color-bitalpha) 70%);
    color: var(--light-color);
    text-shadow: var(--dark-txt-shadow) !important;
}
.light #player {
    background: linear-gradient(transparent, var(--light-color-bitalpha) 70%);
    color: var(--dark-color);
    text-shadow: var(--light-txt-shadow) !important;
}
#player > audio {
    flex: 2;
    min-width: 250px;
    align-self: center;
}
#player > #now_playing {
    flex: 1;
    padding: 1em;
    text-align: center;
    min-width: 250px;
}

@media screen and (max-width: 500px) {
    #tracklist {
        box-shadow: var(--dark-txt-shadow);
        padding: 0;
        margin: 2em;
        border-radius: 1em;
        overflow-y: hidden;
    }
    .dark #tracklist {
        background-color: var(--dark-color-semialpha);
        box-shadow: var(--dark-box-shadow);
    }
    .light #tracklist {
        background-color: var(--light-color-semialpha);
        box-shadow: var(--light-box-shadow);
    }
    .track {
        padding: 1rem;
        padding-left: 0;
        margin: 0 0 0 1.6em;
        border-radius: 0;
        background-color: var(--dark-color-semialpha);
        box-shadow: none !important;
        border-bottom: 1px solid #6666 !important;
    }
    #tracklist .track:last-child {border-bottom: none !important;}
    header::after {
        padding-bottom: 0;
        transform: rotate(0) !important;
        position: relative !important;
        border-radius: 0 !important;
        filter: none !important;
        width: 100% !important;
        height: 5em !important;
        top: 0 !important;
        box-shadow: none !important;
    }
    header {
        padding: 0 !important;
    }
}