{% extends "base.html" %}

{% block add_tracks %}
<body class="flex dark">{% if COLOR %}
    <!-- updates the css var theme color -->
    <script>document.documentElement.style.setProperty('--theme-color', '{{ COLOR }}');</script>{% endif %}
    <a href="/" id="bass_logo" class="bass_logo internal"></a>

    <header class="flex column center justify-center" style="background-image: url('assets/img/todaybg.jpg');">
        <span id="theme_toggle" onclick="toggleTheme();" class="btn-glass"></span>
        <h1>Add tracks to {{ ALBUM.TITLE }} by {{ ALBUM.AUTHOR }}</h1>
    </header>
        
    <section class="main-content flex center column">
        <p>Fill the form below with attention, you WON'T be able to edit once submitted.</p>
        <form action="/save" method="POST" id="post_new">
            <!-- <input type="text" name="ID" id="ID" value="{{ NEW_HASH }}" hidden required> -->
            
            <ol class="flex center justify-center">
                {% for i in range( LENGHT ) %}
                <li>
                    <input type="text" name="TRACK_TITLE_{{ i }}" id="TRACK_TITLE_{{ i }}" placeholder="#{{ i }} - Title" required>
                    <input type="text" name="TRACK_URL_{{ i }}" id="TRACK_URL_{{ i }}" placeholder="#{{ i }} - URL" required>
                </li>
                {% endfor %}
            </ol>

        </form>
        
        <div class="disclaimer txt-center">
            <h3><u>WARNING</u></h3>
            <p>You CANNOT edit this album later and the cover image will be downloaded.</p>
            <p>The BASS website has no responsability for any copyright violation.</p>
            <input class="button" formmethod="POST" form="post_new" type="submit" name="submit" value="Confirm and save *">
            <p class="small">* By clicking the submit button you agree with the terms just above.</p>
        </div>
    </section>
</body>
{% endblock %}