{% extends "base.html" %}

{% block album %}
<body class="flex {% if ALBUM.THEME != 'light' %}dark{% else %}light{% endif %}">
    <!-- updates the css var theme color -->
    <script>document.documentElement.style.setProperty('--theme-color', "{{ ALBUM.COLOR }}")</script>
    
    <!-- ui elements -->
    <span id="theme_toggle" onclick="toggleTheme();" class="btn-glass"></span>
    <a href="/" id="bass_logo"></a>
    
    <!-- album title, author and images -->
    <header class="tilt-gradient flex column center justify-center" style="background-image: url('{{ ALBUM.BACKGROUND }}');">
        <h1>{{ ALBUM.TITLE | safe }}</h1>
        <span class="album-cover"><span class="img" style="background-image: url('{{ ALBUM.COVER }}');"></span></span>
        <a class="author" href="../">
            <p class="flex center">{{ ALBUM.AUTHOR | safe }}</p>
            <span class="year-label">{{ ALBUM.YEAR | safe }}</span>
        </a>
    </header>
    
    <!-- tracklist and infos -->
    <section class="main-content flex">
        <ol id="tracklist" start="{{ ALBUM.FIRST_TRACK }}">{% for TRACK in ALBUM.TRACKLIST %}
            <li class="track btn-glass" data-audiosrc="{{ TRACK.PATH }}">
                <span class="play">
                    <span class="title">{{ TRACK.TITLE | safe }}</span>
                </span>
            </li>{% endfor %}
        </ol>
        <div id="details">
            <p>{{ ALBUM.DESCRIPTION | safe }}</p>
            <p id="credits">{{ ALBUM.CREDITS | safe }}</p>
        </div>
    </section>
    
    <!-- player -->
    <footer id="player" class="flex center space-evenly">
        <span id="now_playing">Nothing playing</span>
        <audio src="#" controls="controls"></audio>
    </footer>
</body>

{% endblock %}