{% extends "base.html" %}

{% block list %}
<body class="flex {% if THEME != 'light' %}dark{% else %}light{% endif %}">
    <!-- updates the css var theme color -->
{% if LIST.INFO.COLOR %}
    <script>document.documentElement.style.setProperty('--theme-color', "{{ LIST.INFO.COLOR }}")</script>
{% endif %}
    
    <!-- album title, author and images -->
    <header class="flex column center justify-center" style="background-image: url('{{ LIST.INFO.BACKGROUND | safe }}');">
        <span id="theme_toggle" onclick="toggleTheme();" class="btn-glass"></span>
        <a href="/" id="bass_logo"></a>
        
        <h1>{{ AUTHOR | safe }}</h1>
        <!-- <p class="flex center">{#{ ALBUM.AUTHOR | safe }#} <span class="year-label">{#{ ALBUM.YEAR | safe }#}</span></p> -->
    </header>
    
    <!-- tracklist and infos / 'alternate' class gives alternate odd/even perspective for album covers -->
    <section class="main-content flex center space-evenly rotateX">
        {% for ENTRY in LIST.ITEMS %}
            <span class="flex column center album-element">
                <a class="btn-glass album-cover" href="/{{ ENTRY.URL | safe }}"><span class="img" style="background-image: url('{{ ENTRY.COVER | safe }}');"></span></a>
                <span class="title">{{ ENTRY.TITLE | safe }}</span>
            </span>
        {% endfor %}
    </section>
    
    <!-- player -->
    <!-- <footer id="player" class="flex center space-evenly">
        <span id="now_playing">No track</span>
        <audio src="#" controls="controls"></audio>
    </footer> -->
</body>

{% endblock %}