{% extends "base.html" %}

{% block list %}
    <!-- updates the css var theme color -->
{% if LIST.INFO.COLOR %}    <script>document.documentElement.style.setProperty('--theme-color', "{{ LIST.INFO.COLOR }}")</script>
{% elif COLOR %}    <script>document.documentElement.style.setProperty('--theme-color', "{{ COLOR }}")</script>
{% endif %}
<header class="flex column center justify-center" style="background-image: url('{{ LIST.INFO.BACKGROUND | safe }}');">
    <h1>{{ AUTHOR | safe }}</h1>
</header>    
<!-- tracklist and infos / 'alternate' class gives alternate odd/even perspective for album covers -->
<section class="main-content flex center space-evenly rotateX">{% for ENTRY in LIST.ITEMS %}
    <a class="flex column center album-element internal" href="/{{ ENTRY.URL | safe }}">
        <span class="btn-glass album-cover internal">
            <span class="img" style="background-image: url('{{ ENTRY.COVER | safe }}');"></span>
            <span class="title">{{ ENTRY.TITLE | safe }}</span>
        </span>
    </a>{% endfor %}
</section>
{% endblock %}